__pycache__/
.idea/
*.pyc
venv/
config.ini
*.log
constants.py
constants_ddnet.py
*.exe
find_players.json
!find_players.json.schema

data/assets/map_backgrounds/*
!data/assets/map_backgrounds/.gitkeep
data/map-testing/
data/ticket-system/
!data/ticket-system/*.json.schema
data/watchlist.json
data/cache.sqlite
data/tools/dontuse/
data/tools/render_map/
data/events/
!data/events/teeguesser/*.json.schema
